{% extends "base.html" %}


{% block content %}
<br>
<h1>The Bay Area's Premier Financial Institution</h1>

<br>

<div class="container">
    <div class="col text-center">
        <img src="https://images.unsplash.com/photo-1501167786227-4cba60f6d58f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" class="img-responsive">
    </div>
</div>
<br>
<div class="container">
    <div class="col text-center">
    <a class="btn btn-primary btn-lg" type="button" href="{{url_for('apply')}}">Sign Up Today!</a>
    </div>
</div>


{% endblock %}